:root {
  --bg-main-color: #00000080;
  --bg-accent-color: #2d2d2d;
  --accent-color: #f64435;
  --text-accent-color: #ffe498;
  --text-edit-bg-color: #575757;
  --border-color: #3f3f3f;
  --shadow-color: #202020;
  --document-bg-color: #68686850;
  --component-bg-gradient: radial-gradient(
    circle,
    #646464e6 0%,
    #363636e6 100%
  );
  --smokywhite: #dddbd8;
  --black: #000000;
  --translucent-black: #00000099;

  --font-size-s: 0.75rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 2.5rem;

  --infinity-delay: 2147483647s;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.styled-button {
  background-color: var(--accent-color);
  font-weight: bold;
  color: var(--smokywhite);

  &:hover,
  &:focus {
    opacity: 0.6;
    color: var(--text-accent-color);
  }

  &.size-s {
    min-width: 5em;
    border-radius: 0.3em;
    font-size: var(--font-size-s);
    padding: 0.4em 1.5em;
  }

  &.size-m {
    min-width: 8em;
    border-radius: 0.5em;
    font-size: var(--font-size-m);
    padding: 0.8em 2em;
  }
}

.x-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  background-color: transparent;
  font-size: var(--font-size-m);
  color: var(--accent-color);

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--bg-accent-color);
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: no-repeat center / cover
    url('./public/coolbackgrounds-fractalize-satin.png');
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: auto;
  background-color: var(--bg-main-color);
}

.app__header {
  padding: 1.2rem;
  text-align: center;
}

.app__title {
  margin: 0;
  margin-bottom: 0.3em;
  font-size: var(--font-size-xl);
  color: var(--accent-color);
}

.menu-btn {
  margin: 0.3em;
}

.app__contents {
  flex: 1 1 auto;
  padding: 2.5rem 1.5rem;
  background-color: var(--document-bg-color);
}

.content {
  display: flex;
  max-height: 240px;
  border: solid 2px transparent;
  border-radius: 0.8rem;
  background: var(--component-bg-gradient);
  box-shadow:
    var(--shadow-color) 0px 3px 6px,
    var(--shadow-color) 0px 3px 6px;
  overflow: hidden;

  &:not(:first-child) {
    margin-top: 1.5rem;
  }

  &.draggable {
    cursor: pointer;
  }

  &.dragging {
    opacity: 0.5;
  }

  &.dragover {
    border-color: var(--accent-color);
  }
}

.content__figure {
  flex: 1 1 50%;
  min-width: 0;
  aspect-ratio: 2 / 1;
}

.content__description {
  flex: 1 1 35%;
  margin: 1em 0 1em 0.8em;
  padding-right: 0.5em;
  font-size: var(--font-size-m);
  color: var(--smokywhite);
  word-break: break-all;
}

.content__title {
  margin: 0;
  font-size: var(--font-size-l);
  color: var(--text-accent-color);
}

.rm-btn {
  align-self: center;
  margin: 0 0.5em;
}

.modal__backdrop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--translucent-black);
}

.modal-container {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;
  max-width: 550px;
  height: 25vh;
  padding: 1.5vh 12px;
  background: var(--component-bg-gradient);
}

.modal-slot {
  flex: 1;
  display: flex;
  margin-top: 0.3rem;
}

.close-btn {
  align-self: flex-end;
}

.tab-stealer {
  width: 0;
  height: 0;
  opacity: 0;
}

.add-form,
.control-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.control {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin: 0;

  & + .control {
    margin-top: 1rem;
  }
}

.control__label {
  margin-right: auto;
  font-size: var(--font-size-l);
  color: var(--text-accent-color);
}

.control__input {
  resize: none;
  outline: none;
  border-style: inset;
  border-width: 2px;
  padding: 0.2em 0.4em;
  background-color: var(--text-edit-bg-color);
  font-size: var(--font-size-l);
  color: var(--smokywhite);

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition:
      background-color var(--infinity-delay) 0s,
      color var(--infinity-delay) 0s;
  }
}

.add-btn {
  margin-top: auto;
  margin-left: auto;
}

.hidden {
  visibility: hidden;
}

@media (max-width: 720px) {
  .content {
    flex-direction: column;
    max-height: 100%;
  }

  .content__figure {
    width: 100%;
  }
}
